.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Tamanho do componente pai */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Cor mais clara no fundo */
    border-top: 4px solid #3498db; /* Cor da parte visível (azul) */
    border-radius: 50%;
    width: 40px; /* Largura do círculo */
    height: 40px; /* Altura do círculo */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
